{% macro letterhead(org_name, org_addr, org_reg, doc_title, doc_no, doc_date, initials) %}
<div class="letterhead">
  <div class="brand">
    <div class="logo-mark">{{ initials }}</div>
    <div>
      <div class="org-name">{{ org_name }}</div>
      <div class="org-meta">{{ org_addr }}{% if org_reg %}<br>Reg. No: {{ org_reg }}{% endif %}</div>
    </div>
  </div>
  <div class="doc-tag">
    <div class="doc-title">{{ doc_title }}</div>
    {% if doc_no %}<div>No: {{ doc_no }}</div>{% endif %}
    {% if doc_date %}<div>Date: {{ doc_date }}</div>{% endif %}
  </div>
</div>
{% endmacro %}
